/* .loading-text 클래스가 p 태그에 적용되도록 구체적으로 지정 */
.loading-container .loading-text {
  font-size: 16px; /* 텍스트 크기 조정 */
  color: #fff; /* 텍스트 색상 */
  text-align: center; /* 텍스트 중앙 정렬 */
  margin-top: 20px; /* 상단 여백 추가 */
}

/* .loader의 스타일 */
.loader {
  margin: 5% auto;
  height: 100px;
  width: 100px;
  border: 6px solid #fff;
  border-right-color: rgb(204, 0, 0);
  border-top-color: rgb(204, 0, 0);
  border-radius: 100%;
  animation: spin 800ms infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
