.port-status {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.port-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.port-card {
  width: 100%;
  max-width: 100%; 
  padding: 0px 20px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  text-align: left; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  overflow: hidden; 
  height: 40px;
}


/* 오픈된 포트 목록 제목 스타일 */
.port-card h4 {
  font-size: 18px;  /* 폰트 크기를 18로 설정 */
  text-align: left;  /* 왼쪽 정렬 */
  margin-bottom: 0;
  color: #ececec;
}

.open-status {
  color: #ffd5d5;
  font-size: 16px;
}

.closed-status {
  color: #ffffff;
  font-size: 16px;
}

.filtered-status {
  color: #ffffff;
  font-size: 16px;
}

.open {
  background-color: #6c2d2d;
}

/* 오류 메시지 스타일 */
.error {
  font-size: 16px;
  margin-top: 20px;
  color: #ff5722;
}

/* 로딩 및 오류 메시지 스타일 */
.loading,
.error {
  font-size: 16px;
  margin-top: 20px;
  color: #ff5722;
}

.port-status h5 {
  margin-top: 0px;
  margin-bottom: 10px; 
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; 
}
