.logo {
  font-size: 60px; 
  font-weight: bold;
  color: #0078D6;
  margin-bottom: 20px; 
  font-family: 'MOONLOGO', sans-serif;
}

.signup-page .logo {
  font-size: 40px; 
  font-family: 'MOONLOGO', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  padding-top: 100px;
  font-family: 'MOON', sans-serif;
  position: relative;
}


.signup-page {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 250px;
}

button:hover {
  background-color: #21a1f1;
}

button:focus {
  outline: none;
}

p {
  color: red;
  text-align: center;
}
