.logo {
  font-size: 60px;
  font-weight: bold;
  color: #0078D6;
  margin-bottom: 20px;
  font-family: 'MOONLOGO', sans-serif;
}

.login-page .logo {
  font-size: 40px;
  font-family: 'MOONLOGO', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'MOON', sans-serif;
  padding: 0;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #26475f, #1c262b);
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 효과 */
  margin-top: 100px;
}

/* 제목 스타일 */
h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
}

/* 입력창 스타일 */
input {
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  background-color: #f4f4f7;
  margin-bottom: 5px; /* 입력창 사이 여유 공간 추가 */
  transition: border 0.3s ease;
}

input:focus {
  border-color: #61dafb; /* 입력창 포커스 시 색상 변화 */
  outline: none;
}



/* 경고 메시지 스타일 */
p {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

/* 반응형 디자인 추가 */
@media (max-width: 500px) {
  .login-page {
    padding: 20px;
  }

  input, button {
    width: 100%;
    max-width: 100%;
  }
}

